@use './colors' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

body {
	font-size: 3rem;
	font-family: 'Open Sans', sans-serif;
	overflow-y: hidden;
}

.nav {
	&__box {
		position: fixed;
		top: 0;
		width: 70%;
		padding: 0.5em;
		background-color: $main-light;
		transform: translate(-200%);
		transition: transform 0.3s;
		z-index: 100;
	}

	&__box--active {
		transform: translate(0);
	}

	&__list {
		list-style: none;
		
	}

	&__link {
		display: block;
		padding: 0.25em 0.5em;
		margin-bottom: 0.25em;
		font-size: 1.6rem;
		color: $text-color;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
	}

	&__link-active{
		background-color: $lightnes-color;
	}

	&__list--inner {
		display: none;
	}

	&__list--active {
		display: block;
	}

	&__btn {
		position: fixed;
		top: 0;
		right: 0;
		width: 65px;
		height: 65px;
		padding: 1.5em;
		z-index: 2000;
		background: none;
		border: none;
		cursor: pointer;

		&-bars {
			position: relative;
			height: 3px;
			background-color: $contrast-color;
			border-radius: 5px;

			&::before,
			&::after {
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $contrast-color;
				border-radius: 5px;
				content: '';
			}

			&::before {
				top: -10px;
			}

			&::after {
				top: 10px;
			}
		}
	}
}

.header {
	position: relative;
	background-image: url('../img/header-mini.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	&::before {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		content: '';
	}

	&__text {
		padding: 0.5em;
		text-align: center;
		z-index: 10;
	}

	&__heading {
		color: $contrast-color;
		font-size: 3.6rem;
		text-transform: uppercase;
		margin-bottom: 0.5em;
	}

	&__desc {
		font-size: 2.4rem;
		color: $text-color;
	}
}
